.mixin.out
assets/skins
assets/galacticraftMaps
AudioBuffer
bendspacks
crash-reports
customnpcs
CustomSkinLoader
logs
mods/VoxelMods/voxelMap
photo-frame-cache
screenshots
pixelmon
saves
tv-cache
usercache.json
usernamecache.json
