src/.minecraft/mods/*.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/shaderpacks/* filter=lfs diff=lfs merge=lfs -text
src/.minecraft/resourcepacks/* filter=lfs diff=lfs merge=lfs -text
src/.minecraft/versions/* filter=lfs diff=lfs merge=lfs -text
src/.minecraft/libraries/* filter=lfs diff=lfs merge=lfs -text
src/.minecraft/assets/* filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods filter=lfs diff=lfs merge=lfs -text
src/.minecraft/shaderpacks filter=lfs diff=lfs merge=lfs -text
src/.minecraft/resourcepacks filter=lfs diff=lfs merge=lfs -text
src/.minecraft/version filter=lfs diff=lfs merge=lfs -text
src/**/*.exe filter=lfs diff=lfs merge=lfs -text
src/**/*.jar filter=lfs diff=lfs merge=lfs -text
src/**/*.dll filter=lfs diff=lfs merge=lfs -text
src/**/*.so filter=lfs diff=lfs merge=lfs -text
src/**/*.png filter=lfs diff=lfs merge=lfs -text
src/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/.minecraft/versions filter=lfs diff=lfs merge=lfs -text
src/**/*.dat filter=lfs diff=lfs merge=lfs -text
src/**/*.db filter=lfs diff=lfs merge=lfs -text
src/**/*.zip filter=lfs diff=lfs merge=lfs -text
src/HMCL.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/GalacticraftCore-1.12.2-4.0.2.280.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/MicdoodleCore-1.12.2-4.0.2.280.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/zombieawareness-1.12.1-1.11.16.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/animania-1.12.2-1.7.3.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/AnotherCommonBugFix-1.1.0-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/ChunkAnimator-MC1.12-1.2.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/Forgelin-1.8.4.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/foodcraftreloaded-1.12.2-1.0.0-EA.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/industrialcraft-2-2.8.202-ex112.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/MekanismGenerators-1.12.2-9.8.3.390.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/MJRLegendsLib-1.12.2-1.1.9.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/MoBends_1.12.2-1.0.0-beta-20.06.20.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/NuclearCraft-2o.3.5-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/OreLib-1.12.2-3.6.0.1.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/Advanced+Solar+Panels-4.3.0.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/buildcraft-all-7.99.24.6.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/forestry_1.12.2-5.8.2.387.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/furniture-6.3.1-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/AudioBuffer-1.0.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/forgemod_VoxelMap-1.9.20_for_1.12.2[[:space:]](2).jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/Galacticraft-Planets-1.12.2-4.0.2.280.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/VexView_ForgeMod_1.12+.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/jei_1.12.2-4.15.0.291.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/EnderZoo-1.12.1-1.4.0.49.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/Mekanism-1.12.2-9.8.3.390.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/coroutil-1.12.1-1.2.37.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/MekanismTools-1.12.2-9.8.3.390.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/OptiFine_1.12.2_HD_U_F5.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/twilightforest-1.12.2-3.10.1013-universal.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/InventoryTweaks-1.63.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/More-Planets-1.12.2-2.0.22-GC238.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/ShoulderSurfing-1.12.2-1.15.1.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/AsmodeusCore-1.12.2-0.0.16.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/CraftStudioAPI-universal-1.0.1.95-mc1.12-alpha.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/CustomSkinLoader_Forge-14.11.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/DynamicSurroundings-1.12.2-3.6.1.0.jar filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/CustomNPCs_1.12.2-(01Oct19).jar.disabled filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/RealFirstPerson2-1.12.2-1.3.2.jar.disabled filter=lfs diff=lfs merge=lfs -text
src/.minecraft/mods/VanillaFix-1.0.10-150.jar.disabled filter=lfs diff=lfs merge=lfs -text
