# 设置AFK玩家的自动对战。
AFKHandler {
    # 在对战中若玩家AFK则用自动对战代码托管战斗。
    afkActivateSeconds=90
    # 自动对战系统每回合自动选取几个行动。
    afkHandlerTurnSeconds=15
    # 如果有玩家在对战中AFK自动对战，则在指定时间内进行回合。
    enableAFKHandler=false
}
# 设置繁殖状态。
Breeding {
    # 允许放置牧场方块，这是用于繁殖宝可梦的必要物品。
    allowBreeding=true
    # 允许两只百变怪生蛋随机产生宝可梦蛋。
    allowDittoDittoBreeding=true
    # 允许牧场拓展。
    allowRanchExpansion=true
    # 允许两只百变怪生蛋随机产生神兽蛋。
    allowRandomBreedingEggsToBeLegendary=false
    # 经过每个繁殖阶段需要多少Tick。
    breedingTicks=18000
    # 设置玩家在所有维度世界里可以获得的宝可梦总数量 (0为不限制) 
    maxCumulativePokemonInRanch=0
    # 繁殖时需要几个感情等级(1-5)。
    numBreedingStages=5
    # 设置宝可梦蛋一个周期需要的步数。数字越小，孵化蛋越快。
    stepsPerEggCycle=255
    # 根据育种不同来控制繁殖速度。若设置为false则繁殖速度为默认的1.0倍。
    useBreedingEnvironment=true
}
# 选项。
Elevator {
    # 设置升降机的最大上下范围。
    elevatorSearchRange=10
}
# 用于设置是否启用外部文件的设置
ExternalFiles {
    # 设置使用此文件夹下的 ./pixelmon/spawning/ 哪一个生成规则文件。此选项适用于新的宝可梦生成机制。
    spawnSetFolder=default
    # 是否针对更好的宝可梦生成机制使用位于 config/pixelmon 路径下的文件
    useBetterSpawnerConfig=false
    # 从外部位置 ("pixelmon/drops") 加载用于 掉落物品 的配置文件，如果此项设为true并且"pixelmon/drops"文件夹不存在，Pixelmon则会生成这个文件夹并转储现有的配置。
    useExternalJSONFilesDrops=false
    # 从外部位置 ("pixelmon/moves") 加载用于 招式 的配置文件，如果此项设为true并且"pixelmon/moves"文件夹不存在，Pixelmon则会生成这个文件夹并转储现有的配置。
    useExternalJSONFilesMoves=false
    # 从外部位置 ("pixelmon/npcs" ) 加载用于 NPC 的配置文件，如果此项设为true并且"pixelmon/npcs"文件夹不存在，Pixelmon则会生成这个文件夹并转储现有的配置。
    useExternalJSONFilesNPCs=false
    # Load external configuration files used for quests from the "pixelmon/quests" folder. If set to true and the "pixelmon/quests" folder does not exist, Pixelmon will create the folder and dump the existing files there.
    useExternalJSONFilesQuests=false
    # 从外部位置 ("pixelmon/rules") 加载用于 战斗规则 的配置文件，如果此项设为true并且"pixelmon/rules"文件夹不存在，Pixelmon则会生成这个文件夹并转储现有的配置。
    useExternalJSONFilesRules=false
    # 从外部位置 ("pixelmon/spawning") 加载用于 生成器 的配置文件，如果此项设为true并且"pixelmon/spawning"文件夹不存在，Pixelmon则会生成这个文件夹并转储现有的配置。
    useExternalJSONFilesSpawning=false
    # 从外部位置 ("pixelmon/stats") 加载用于 状态 的配置文件，如果此项设为true并且"pixelmon/stats"文件夹不存在，Pixelmon则会生成这个文件夹并转储现有的配置。
    useExternalJSONFilesStats=false
    # 从外部位置 ("pixelmon/structures") 加载用于 建筑物 的配置文件，如果此项设为true并且"pixelmon/structures"文件夹不存在，Pixelmon则会生成这个文件夹并转储现有的配置。
    useExternalJSONFilesStructures=false
}
# 设置对战外招式。
ExternalMoves {
    # 是否允许玩家使用破坏性对战外招式。 (包括:居合斩/挖洞/爆炸/火光/闪电/碎岩)
    allowDestructiveExternalMoves=true
    # 是否允许玩家使用对战外招式如碎岩。
    allowExternalMoves=true
}
# 世界常规设置。
General {
    # 允许护符金币在对战后给予2倍的宝可梦币对战奖励
    allowAmuletCoin=true
    # 允许铁砧在玩家操作后自动将玩家背包内的初始操作物品替换成已完成的物品。
    allowAnvilAutoreloading=false
    # 是否允许玩家在非对战情况下丢出精灵球。如果设置为false则只能在对战中扔精灵球。
    allowCaptureOutsideBattle=true
    # 服务器端设置，是否允许玩家使用宝可梦雕刻工具
    allowChisels=true
    # 允许是否在使用欢乐时光招式后翻倍宝可梦币奖励
    allowHappyHour=true
    # 允许聚宝功在对战后给予额外的宝可梦币奖励
    allowPayDay=true
    # 是否允许玩家种植树果。
    allowPlanting=true
    # 当使用服务器端时，此选项设置其他玩家是否可以使用宝可梦编辑器。当在客户端使用时，是否允许其他玩家修改另一人的宝可梦编辑器。
    allowPokemonEditors=true
    # 允许玩家给宝可梦命名(这不是服务器设置，是客户端设置)。
    allowPokemonNicknames=true
    # 是否允许玩家之间的对战中使宝可梦获得经验。当设置为false时无经验。
    allowPvPExperience=true
    # 无论是通过/pokegive还是其他任何pokespec生成的宝可梦都有可能包含传说中的宝可梦。
    allowRandomPokemonToBeLegendary=true
    # 当完成全宝可梦图鉴时解锁闪耀护符
    allowShinyCharmFromPokedex=true
    # 是否允许招式教学机重复使用。
    allowTMReuse=false
    # 是否允许和NPC的对战中使宝可梦获得经验。
    allowTrainerExperience=true
    # 是否允许苦力怕,骷髅怪,等怪物生成。危险呢-它会在您对战的时候杀死您。
    allowVanillaMobs=false
    # 不管怎样，玩家总会自动获得超级环。
    alwaysHaveMegaRing=false
    # 设置平均多少个tick后引虫香水的效果将失效
    averageLureExpiryTicks=17920
    # 当玩家战胜野生宝可梦时给予照片
    awardPhotos=false
    # 对战中BOSS的AI类型。
    battleAIBoss=2
    # 对战中NPC训练师的AI类型。
    battleAITrainer=3
    # 对战中野怪的AI类型。
    battleAIWild=1
    # 当玩家睡在床上时治愈玩家的宝可梦。
    bedsHealPokemon=true
    # 果树的成长速度的倍数，请保持在0.1至1000之间。
    berryTreeGrowthMultiplier=1
    # 无论在什么情况下，在对战外的野生宝可梦都可以受到物理攻击。
    canPokemonBeHit=false
    # 设定使用豪华球收服大牙狸之后，将变成特殊大牙狸的概率 (-1 为禁用)
    chanceToGetSpecialBidoof=30
    # 是否允许玩家使用梦幻来克隆超梦。
    cloningMachineEnabled=true
    # 设置玩家的PC的最大可用页数 (上限为256页) 
    computerBoxes=30
    # 如果玩家背包或PC被强制保存，则自动保存世界 (如果为false，则你需要通过/saveall指令来保存内容，或自行承担数据丢失的问题) 
    dataSaveOnWorldSave=true
    # 是否在掉落界面显示删除全部物品按钮.
    deleteUnwantedDrops=false
    # 设置宝可梦实体会消失在距离最近的玩家身边的最短距离。
    despawnRadius=80
    # 确定是否禁止一切非玩家的宝可梦移动
    disabledNonPlayerPixelmonMovement=false
    # 是否允许野生宝可梦主动对玩家发起战斗
    enableWildAggression=true
    # 如果启用，玩家将可以通过投掷宝可梦到玩家身上进行对战，而不是玩家的宝可梦。
    engagePlayerByPokeBall=true
    # 宝可梦对战获得的经验的倍数。
    expModifier=1
    # 当一个对战于某种未知情况下没有正常结束时强行结束的结果。0-由剩余宝可梦的HP决定胜者。1-认定这为一个平局。2-认定这为异常结束。
    forceEndBattleResult=0
    # 调整升级对体型的变化影响(0-2)。1为普通。
    growthScaleModifier=1.0
    # 设置亚克诺姆、艾姆利多、由克希可以将红宝石进行附魔的次数。
    lakeTrioMaxEnchants=3
    # 宝可梦最大能达到的等级。
    maxLevel=100
    # 每个区块内允许种植树果的最大数目，适用于树果和果实。
    maximumPlants=32
    # 设置招式教学师所拥有的招式数量
    movesPerTutor=20
    # 允许玩家重复获得相同的精灵照片。
    multiplePhotosOfSamePokemon=true
    # 若设置为true，则必须要管理员才可以使用NPC编辑器。若为false，则需要创造模式
    npcEditorOpOnly=true
    # 设置矿物感应招式的矿物颜色。格式为"方块;颜色(hex格式);图案号码
    oreColors=[
        "minecraft:iron_ore;E2C0AA;0",
        "minecraft:gold_ore;FCEE4B;0",
        "minecraft:redstone_ore;FF0000;0",
        "minecraft:emerald_ore;17DD62;1",
        "minecraft:diamond_ore;65F5E3;0",
        "minecraft:lapis_ore;1855BD;2",
        "minecraft:quartz_ore;EAE5DE;3",
        "pixelmon:amethyst_ore;9543A9;4",
        "pixelmon:sun_stone_ore;E57742;5",
        "pixelmon:silicon_ore;E2DFEE;0",
        "pixelmon:sapphire_ore;4A73E7;1",
        "pixelmon:ruby_ore;DD1C33;1",
        "pixelmon:fossil;443D32;6",
        "pixelmon:crystal_ore;AFEEEE;4",
        "pixelmon:bauxite_ore;D1B584;0",
        "pixelmon:dawn_dusk_ore;000000;7",
        "pixelmon:water_stone_ore;5D719F;8",
        "pixelmon:thunder_stone_ore;F0FF01;9",
        "pixelmon:leaf_stone_ore;7EA167;10",
        "pixelmon:fire_stone_ore;CC7132;11"
    ]
    # 设置聚宝功给予的额外宝可梦币倍数
    payDayMultiplier=5.0
    # 捡拾特性在战斗后获得道具的几率 (1/几率). 0 为禁用此功能。
    pickupRate=10
    # 是否让宝可梦死亡后掉落物品。
    pokemonDropsEnabled=true
    # 如果启用此设置则生成更详细的错误报告到server.log。
    printErrors=true
    # 如果启用，对战中损失的携带道具将于对战结束后返还给相应宝可梦。
    returnHeldItems=true
    # 是否允许祭坛多次使用。
    reusableBirdShrines=false
    # 是否允许神鸟神社随机生成。
    spawnBirdShrines=true
    # pixelmon.config.spawnCelebiShrines.comment
    spawnCelebiShrines=true
    # 允许随机生成建筑如:宝可梦中心，神社祭坛和其他建筑物，true为生成。
    spawnStructures=true
    # 如果设置为true则必须为OP才能生成宝可梦，如果设置为false则必须为创造模式。
    spawnersOpOnly=true
    # 请您选择提供/不提供当一个玩家进入游戏时的首发伙伴(通过Pixelmon的进入页面)。
    starterOnJoin=true
    # 将之前的时间同步为系统时间(以秒为单位)。
    systemTimeSyncInterval=30
    # 设置交换者一次性使用(false)或设置交换者可多次使用(true)。
    tradersReusable=false
    # 是否在击败一个常规宝可梦时显示掉落界面。
    useDropGUI=true
    # 使用系统时间作为树果成长的依据。这意味着即使游戏并未运行，它们仍将会随着真实世界时间流逝而成长
    useSystemTimeForBerries=false
    # 是否让游戏使用现实时间(根据服务端的系统时间)。
    useSystemTimeForWorldTime=false
    # pixelmon.config.verbose.comment
    verbose=false
    # 当保存世界时保存Pixelmon实体到文件中(如果为true，大大增加了保存文件的大小和保存时间)。需要变形mod支持。
    writeEntitiesToWorld=false
}
# 图像设置。
Graphics {
    # 在宝可梦头上显示其血量方块。
    drawHealthBars=false
    # 设置客户端可以看见宝可梦名称和等级标签的距离 (仅客户端)。1=默认, 2=较远, 3=远
    namePlateRange=1
    # 如果设置为 true，则仅向参与或观看战斗的玩家显示攻击效果。
    onlyShowAttackEffectsToBattlers=true
    # 是否设置玩家对战中可调整镜头方向(设置镜头基于球面的大小)
    playerControlCamera=true
    # 如果玩家并未在战斗，则向该玩家显示其他战斗动画的显示范围 (以方块为单位) 。
    rangeToDisplayAttackAnimations=40
    # 通常以64个方块为距离的渲染。
    renderDistanceWeight=2.0
    # 设置户外是否显示野生宝可梦的等级
    renderWildLevels=true
    # 在游戏中使用提高了30%体型的宝可梦。
    scalePokemonModels=true
    # 在画面中显示当前宝可梦攻击的目标。
    showCurrentAttackTarget=true
    # 是否在宝可梦名牌上显示其名称。
    showWildNames=true
    # pixelmon.config.smoothAnimations.comment
    smoothAnimations=false
    # 是否设置对战镜头改为外部镜头设置。
    useBattleCamera=true
    # 使用平滑纹理的精灵球模型。
    useSmoothShadingOnPokeBalls=true
    # 向SMD模型进行动画插值补帧。将会造成游戏性能下降。
    useSmoothShadingOnPokemon=true
}
# 用于设置在行走时需要如何治疗宝可梦
Healing {
    # 每走一步都有概率被动的恢复宝可梦的状态
    chanceToHealStatusPassively=0.004999999888241291
    # 每走一步都有概率被动的恢复濒死状态的宝可梦
    chanceToRevivePassively=0.0010000000474974513
    # 被动治疗可以到达的最大百分比
    passiveHealingMaxHealthPercentage=0.25
    # 设置在行走多少步后为宝可梦恢复1点HP
    stepsToHealHealthPassively=75
    # 是否随着时间对宝可梦栏内的宝可梦进行治疗
    usePassiveHealer=true
}
# pixelmon.config.outsideeffects.comment
OutsideEffects {
    # 中毒效果每次能给宝可梦施加的最大伤害
    poisonMaxDamage=5
    # 效果 (如中毒) 每次结算的步数间隔
    stepsToApplyEffects=15
    # 是否启用对战外回复效果
    useOutsideEffects=true
}
# 设置宝可梦实用工具的功能。
PixelUtilities {
    # 指定宝可梦礼品盒出现的坐标。
    eventCoords=[
        notConfigured
    ]
    # 允许/禁止神兽被放入宝可梦礼品盒。
    eventHasLegendaries=false
    # 每只宝可梦有1/10的几率成为异色的。
    eventHasShinies=false
    # 设置宝可梦礼品盒中最多的宝可梦数。
    eventMaxPokemon=1
    # 是否允许宝可梦礼品盒生成。
    eventPokeGiftLoad=false
    # 礼品盒中出现异色宝可梦的几率(1/x)。
    eventShinyRate=10
    # 选定一个能打开宝可梦礼品盒的日期(先日期接着月)
    eventTime="D/M"
    # 是否允许使用宝可梦礼品盒(包括放置和使用，放置无用礼品盒)。
    pokeGiftHaveEvents=true
    # 是否允许玩家在宝可梦礼物盒中得到宝可梦。
    pokeGiftReusable=false
    # 根据玩家队伍决定宝可梦草丛中的宝可梦的水平？
    scaleGrassBattles=false
}
# 设置宝可梦奖励箱的生成和状态。
PokeLoot {
    # 允许隐藏洞穴随机生成。
    spawnGrotto=true
    # 允许隐形的宝可梦奖励箱随机生成。
    spawnHidden=true
    # 默认生成模式 (FCFS=0, PL1D=1, PUD=2, TIMED=3). FCFS = 先到先得，领取后消失。PL1D = 每个玩家给与一次。PUD = 每位玩家可以无限领取此奖励箱。 TIMED = 每位玩家可以在间隔时间内领取一次奖励箱的内容。
    spawnMode=0
    # 允许普通的宝可梦奖励箱随机生成。
    spawnNormal=true
    # 奖励箱生成率。0:64个区块里1个。1:32个区块里1个。2:18个区块里1个。3:10个区块里1个。
    spawnRate=1
    # 若设置为 TIMED，则需要设置玩家可以重新使用宝可梦奖励箱的时间 (小时)
    timedLootReuseHours=24
}
# 宝可病毒相关的设置
Pokerus {
    # 宝可病毒是否启用，这将会影响宝可梦生长、繁殖和生成
    pkrsEnabled=true
    # 告知玩家宝可梦是否感染宝可病毒
    pkrsInformPlayers=true
    # 宝可病毒的发病率 (1/x)。 (0 为不生成)
    pkrsSpawnRate=12288
    # 在一次对战后，病患宝可梦向周围宝可梦传播病毒。 (1/x) (-1 为不生效，0 为保持生效)
    pkrsSpreadRate=5
}
# Settings that alter how quests function.
Quests {
    # The maximum distance between elevators pairing with each other.
    questMaxRange=500
    # Whether to let NPCs be randomly assigned quests or not. This does not affect quests that have already been started.
    questRandomNPCs=true
}
# 用于控制乘骑宝可梦的设置
Riding {
    # 是否允许玩家骑乘宝可梦(服务器设置)。
    allowRiding=true
    # 当乘骑宝可梦时，宝可梦面向的方向将跟随玩家准星所指向的方向。
    enablePointToSteer=true
    # 即使宝可梦不可以飞行或者冲浪，但他们仍可以被乘骑并在地面上移动
    landMount=true
    # 只有可以学会飞行/冲浪秘传学习器的宝可梦才可以用于乘骑
    requireHM=false
    # 宝可梦乘骑速度倍数，请保持在0至1之间。
    ridingSpeedMultiplier=1
}
# 设置宝可梦生成多少。
Spawning {
    # 设置你需要生成的宝可梦世代
    Gens {
        # 宝可梦图鉴 1-151
        Gen1=true
        # 宝可梦图鉴 152-251
        Gen2=true
        # 宝可梦图鉴 252-386
        Gen3=true
        # 宝可梦图鉴 387-493
        Gen4=true
        # 宝可梦图鉴 494-649
        Gen5=true
        # 宝可梦图鉴 650-721
        Gen6=true
        # 宝可梦图鉴 722-807
        Gen7=true
        # pixelmon.config.Gen8.comment
        Gen8=true
    }
    # 允许野生神兽产生(特定事件除外)。
    allowLegendarySpawn=true
    # 海声铃铛或透明铃铛寻找其他铃铛的方块距离
    bellInclusionRange=10
    # 铃声在每天清晨响起的概率。1 = 100%.
    bellSuccessChance=0.01
    # 设置野生Boss宝可梦的刷新概率 (1/x) ，不包括超级进化的Boss。
    bossRate=256
    # 改变一个超进化Boss生成的几率 (0-1)。
    bossSpawnChance=0.30000001192092896
    # BOSS的平均生成时间(随生成率改动)。
    bossSpawnTicks=10000
    # 可以变成百变怪的宝可梦
    canTransformToDittoOnCatch=[
        Pidgey,
        Rattata,
        Gastly,
        Zubat,
        Mankey,
        Yanma,
        Hoothoot,
        Sentret,
        Zigzagoon,
        Gulpin,
        Whismur,
        Taillow,
        Remoraid,
        Starly
    ]
    # 强制野生宝可梦在对战后消失。
    despawnOnFleeOrLoss=false
    # 当神兽刷新时，是否在消息框里发出'一只神兽在 <name> 地形生成了'的公告。
    displayLegendaryGlobalMessage=true
    # 当随距离提升宝可梦等级功能开启时，设置每经过多少个方块野生宝可梦等级将提升1级
    distancePerLevel=30
    # 每个玩家附近可生成的最大的实体数量 (NPC或宝可梦)，数值越低性能越好。
    entitiesPerPlayer=45
    # 改变野生宝可梦隐藏特性的几率(1/X)，0为禁止隐藏特性产生。
    hiddenAbilitySpawnRate=150
    # 在玩家附近随机选择的水平生成区域半径，数值越低将获得更好的运算性能，但是相对的会损失生成可靠性。
    horizontalSliceRadius=10
    # 让生成器使用多少个Tick来根据玩家所在位置来生成实体。这将使生成器将实体生成至玩家可能要去的地方。
    horizontalTrackFactor=80
    # Chance per valid chunk to contain an Ilex Shrine.
    ilexShrineSpawnRate=0.005
    # 不论如何Pixelmon都将会修改Minecraft的奖励箱内容表 
    injectIntoLootTables=true
    # 改变一个神兽生成的几率 (0-1)。
    legendarySpawnChance=0.30000001192092896
    # 神兽的平均生成时间(随生成率改动)。
    legendarySpawnTicks=25000
    # 设置Pixelmon将不会修改何种类型的神庙，例如 "simple_dungeon"
    lootIgnoreList=[]
    # 宝可梦生成的最大生成水平距离.
    maxLevelByDistance=60
    # 设置实体将会在以玩家为中心进行生成的最大距离
    maximumDistanceFromCentre=64
    # 一次自然精灵刷新数的最大值 (不包含钓鱼生成、移动遇怪、指令生成和神兽生成) 
    maximumSpawnedPokemon=3000
    # 设置美录坦在融化矿物时出现的概率 (1/x)
    meltanSpawnChance=3072
    # 美录坦在捕捉时变成百变怪的概率
    meltanTransformChance=0.25
    # 设置生成实体和已存在实体之间的最小生成方块距离
    minimumDistanceBetweenSpawns=15
    # 设置实体将会在以玩家为中心进行生成的最小距离，数值越低将会有越多宝可梦靠近玩家生成。
    minimumDistanceFromCentre=18
    # 是否替换村民为Pixelmon的NPC。
    replaceMCVillagers=true
    # 通过异色的几率1/X的(异色率),来确定异色率。
    shinySpawnRate=4096
    # 每分钟生成的宝可梦数量。数值越低将性能越好。
    spawnFrequency=60
    # 设置是否关闭生成道馆周围的村子。
    spawnGyms=true
    # 是否让宝可梦等级根据与世界出生点的距离来提升。
    spawnLevelsByDistance=false
    # 是否野外精灵等级与玩家战力相近.
    spawnLevelsCloserToPlayerLevels=true
    # 在Minecraft村庄里生成宝可梦商店。
    spawnPokeMarts=true
    # 根据玩家的数量增量传说中的宝可梦和异色的宝可梦生成。Tick = 生成Tick / (1 + (玩家数量 - 1) * 玩家生成Tick增量)
    spawnTicksPlayerMultiplier=0.009999999776482582
    # 是否会在究极空间中生成末地城
    spawnUltraSpaceEndCities=true
    # 是否会在究极空间中生成宝可梦奖励箱
    spawnUltraSpaceExtraLoots=true
    # 是否会在究极空间中生成更多矿物
    spawnUltraSpaceExtraOres=true
    # 是否会在究极空间中生成更多植物 (球果，树果等)
    spawnUltraSpaceExtraPlants=true
    # 是否会在究极空间中生成异色宝可梦
    spawnUltraSpaceExtraShrines=true
    # 是否会在究极空间中生成下界要塞
    spawnUltraSpaceNetherForts=true
    # pixelmon.config.spawnZygardeCells.comment
    spawnZygardeCells=true
    # 设置在一次生成循环中会对每个玩家生成的最大生成数。数值越小生成速度越慢但性能越好。
    spawnsPerPass=2
    # 野生宝可梦在捕捉时变成百变怪的概率
    transformToDittoOnCatch=0.001
    # 如果为true将按照宝可梦最近一次升级时的招式来生成。若为false按照宝可梦随机选择升级时的招式来生成。
    useRecentLevelMoves=false
    # 在玩家附近随机选择的垂直生成区域半径，数值越低将获得更好的运算性能，但是相对的会损失生成可靠性。设置成大于水平半径的数值将会使系统更好的匹配用户的行为。
    verticalSliceRadius=25
    # 让生成器使用多少个Tick来根据玩家的垂直移动来生成实体。在通常情况下为了避免玩家跳跃造成的干扰所以设置为0。
    verticalTrackFactor=0
}
# 控制初学者宝可梦选择界面的相关设置
Starters {
    # Level (min=5, max=100).
    level=5
    # 是否给予玩家异色的初学者宝可梦
    shiny=false
    # 初始宝可梦数量(最大21只)
    starterList=[
        Bulbasaur,
        Squirtle,
        Charmander,
        Chikorita,
        Totodile,
        Cyndaquil,
        Treecko,
        Mudkip,
        Torchic,
        Turtwig,
        Piplup,
        Chimchar,
        Snivy,
        Oshawott,
        Tepig,
        Chespin,
        Froakie,
        Fennekin,
        Rowlet,
        Popplio,
        Litten
    ]
    # 是否应该从该默认配置文件加载初学者宝可梦列表。
    useCustomStarters=false
}
# 存储用户宝可梦栏和PC机里的数据。
Storage {
    # 以秒为单位的时间间隔，在此期间，异步函数将保持所有数据保存在磁盘。
    asyncInterval=60
    # 激活自动保存命令和PC的数据。 (仅适用于服务器) 
    useAsyncSaving=false
}
# 设置究极空间的维度是否启用
UltraSpace {
    # 是否开启究极世界的维度
    ultraSpace=true
    # 修改Boss在究极空间里出现的概率 (常规Boss概率 * 究极空间稀概率)
    ultraSpaceBossModifier=0.5
    # 是否针对究极世界的雾使用色盲模式
    ultraSpaceColourblindMode=false
    # 设置究极空间世界挂载时使用的维度ID，如果该值小于2则会被替代为默认值72
    ultraSpaceDimId=0
    # 修改隐藏特性宝可梦在究极空间里出现的概率 (常规隐藏特性概率 * 究极空间概率)
    ultraSpaceHiddenAbilityModifier=0.5
    # 修改闪光宝可梦在究极空间里出现的概率 (常规闪光概率 * 究极空间概率)
    ultraSpaceShinyModifier=0.5
}
